---
import { Event, db } from "astro:db";

const res = await db.select().from(Event).run();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventbrite</title>
  </head>
  <body>
    <pre>
    {JSON.stringify(res, null, 2)}
    </pre>
  </body>
</html>
